<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{paths.theme}}css/style.css">
    <title>Les Hommes Fourmillent</title>
</head>
<body>
<div class="content">
    <div id="usine">
        <img src="{{paths.theme}}imgs/usinebulle.jpg" id="img-usinebulle">
        <div class="bulle">
            <a href="page/association"><img src="{{paths.theme}}imgs/bulle.png" id="img-bulle"></a>
        </div>

        <div id="images">
            <figure>
                <a href="intelligence_collective.twig"><img src="{{paths.theme}}imgs/intelligence_collective.jpg" alt="Intelligence collective" title="Intelligence collective" class="images" /></a>
                <figcaption>Intelligence collective</figcaption>
            </figure>

            <figure>
                <a href="ingenerie_sociale.twig"><img src="{{paths.theme}}imgs/ingesociale.jpg" alt="Ingénérie Sociale" class="images" title="Ingénérie sociale" /></a>
                <figcaption>Ingénérie Sociale</figcaption>
            </figure>

            <figure>
                <a href="economie_sociale_solidaire.twig"><img src="{{paths.theme}}imgs/solidarite.jpg" alt="#" class="images" title="Economie sociale et solidaire" /></a>
                <figcaption>Economie sociale et solidaire</figcaption>
            </figure>

            <figure>
                <a href="espace_numerique.twig"><img src="{{paths.theme}}imgs/arbre_numerique.jpg" alt="#" class="images" title="Volet numérique" /></a>
                <figcaption>Espace numérique</figcaption>
            </figure>

            <figure>
                <a href="developpement_durable.twig"><img src="{{paths.theme}}imgs/arbre.jpg" alt="#" class="images" title="Développement durable"/></a>
            <figcaption>Développement</br>durable</figcaption>
            </figure>

        </div>
    </div>
</div> <!-- content -->
</body>
</html>